%h2
  Objednávka ze dne
  = pretty_time @order.created_at
%h3
  Obsah objednávky
= render :partial => '/orders/order_items', :object => @order.order_items
%h3
  Detaily objednávky
%p
  Celkem:
  = (@order.items_total_price.to_f + @order.shipment_price)
  ,-
  = "(včetně poštovného #{@order.shipment_price},-)"
%p
  %strong Způsob platby:
  = @order.payment_type_human
  %br
  %strong Popis platby
  %br
  = payment_desc(@order, @settings)
%p
  %strong Způsob dodání:
  = @order.shipment_type_human
  %br
  %strong Popis dodání
  %br
  = shipment_desc(@order, @settings)
%p
  %h3
    Uživatel
  = render :partial => '/admin/users/user', :object => @order.user
  = link_to "Profil uživatele", edit_admin_user_path(@order.user)
- unless @order.state == 'finished'
  - form_for [:admin, @order], :url => {:action => 'change_state', :state => 'finished'} do |f|
    = f.submit 'Označit za dokončenou' ,:class => "button-primary"
