.title
  %span.title_icon
    = image_tag "client/bullet2.gif",  :alt=>"",  :title=>""
  Objednávka ze dne
  = pretty_time @order.created_at
.new_products
  = render :partial => 'order_items', :object => @order.order_items
  %p
  Celkem:
  = (@order.items_total_price.to_f + @order.shipment_price)
  ,-
  = "(včetně poštovného #{@order.shipment_price},-)"

%p 
  %strong Způsob dodání:
  = @order.shipment_type_human
  %br
  = shipment_desc(@order, @settings)
%p 
  %strong Platba:
  = @order.payment_type_human
  %br
  = payment_desc(@order, @settings)
= link_to 'Zobrazit mé objednávky', orders_url
