<div id="screen-meta">

</div>


<div class="wrap">
  <div id="icon-edit" class="icon32"><br></div>
  <h2>Nastavení</h2>
  <% if flash[:notice] %>
    <div id="message" class="updated fade">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <% form_for [:admin,@setting], :url => { :action => "update" } do |f| %>

    <%= f.error_messages %>
    <input id="_wpnonce" name="_wpnonce" value="e8a78bf921" type="hidden"><input name="_wp_http_referer" value="/~david/wp/wp-admin/post-new.php" type="hidden">
    <input id="user-id" name="user_ID" value="1" type="hidden">
    <input id="hiddenaction" name="action" value="post" type="hidden">
    <input id="originalaction" name="originalaction" value="post" type="hidden">
    <input id="post_author" name="post_author" value="" type="hidden">
    <input id="post_type" name="post_type" value="post" type="hidden">
    <input id="original_post_status" name="original_post_status" value="draft" type="hidden">
    <input name="referredby" id="referredby" value="" type="hidden">
    <input id="post_ID" name="temp_ID" value="-1260286552" type="hidden">
    <div id="poststuff" class="metabox-holder has-right-sidebar">

      <div id="post-body">
        <div id="post-body-content">
          <div id="titlediv">
            <div id="titlewrap">
              <%= f.label :shipping_ceska_posta_price, "Poštovné přes Českou poštu" %><br />
              <%= f.text_field :shipping_ceska_posta_price  %>
            </div>
          </div>
          <div id="titlediv">
            <div id="titlewrap">
              <%= f.label :bank_account_number, "Číslo účtu" %><br />
              <%= f.text_field :bank_account_number %>
            </div>
          </div>
          <div id="titlediv">
            <div id="titlewrap">
              <%= f.label :bank_account_title, "Název banky" %><br />
              <%= f.text_field :bank_account_title %>
            </div>
          </div>
          <div class="inside">
            <div id="edit-slug-box">
            </div>

            <div id="postdivrich" class="postarea">

              <div id="editor-toolbar">
                <div class="zerosize"><input accesskey="e" onclick="switchEditors.go('content')" type="button"></div>
                <a id="edButtonHTML" class="hide-if-no-js" onclick="switchEditors.go('content', 'html');">HTML</a>
                <a id="edButtonPreview" class="active hide-if-no-js" onclick="switchEditors.go('content', 'tinymce');">Visual</a>
                <div id="media-buttons" class="hide-if-no-js"></div>
              </div>
              <div style="display: none;" id="quicktags">	<script type="text/javascript">edToolbar()</script><div id="ed_toolbar"><input id="ed_strong" accesskey="b" class="ed_button" onclick="edInsertTag(edCanvas, 0);" value="b" type="button"><input id="ed_em" accesskey="i" class="ed_button" onclick="edInsertTag(edCanvas, 1);" value="i" type="button"><input id="ed_link" accesskey="a" class="ed_button" onclick="edInsertLink(edCanvas, 2);" value="link" type="button"><input id="ed_block" accesskey="q" class="ed_button" onclick="edInsertTag(edCanvas, 3);" value="b-quote" type="button"><input id="ed_del" accesskey="d" class="ed_button" onclick="edInsertTag(edCanvas, 4);" value="del" type="button"><input id="ed_ins" accesskey="s" class="ed_button" onclick="edInsertTag(edCanvas, 5);" value="ins" type="button"><input id="ed_img" accesskey="m" class="ed_button" onclick="edInsertImage(edCanvas);" value="img" type="button"><input id="ed_ul" accesskey="u" class="ed_button" onclick="edInsertTag(edCanvas, 7);" value="ul" type="button"><input id="ed_ol" accesskey="o" class="ed_button" onclick="edInsertTag(edCanvas, 8);" value="ol" type="button"><input id="ed_li" accesskey="l" class="ed_button" onclick="edInsertTag(edCanvas, 9);" value="li" type="button"><input id="ed_code" accesskey="c" class="ed_button" onclick="edInsertTag(edCanvas, 10);" value="code" type="button"><input id="ed_more" accesskey="t" class="ed_button" onclick="edInsertTag(edCanvas, 11);" value="more" type="button"><input id="ed_spell" class="ed_button" onclick="edSpell(edCanvas);" title="Dictionary lookup" value="lookup" type="button"><input id="ed_close" class="ed_button" onclick="edCloseAllTags();" title="Close all open tags" value="close tags" type="button"></div>
              </div>

              <p>
              <%= f.submit 'Uložit' %>
              </p>
              <script type="text/javascript">
                edCanvas = document.getElementById('content');
                </script>


              </div>

              <div id="advanced-sortables" class="meta-box-sortables ui-sortable">
              </div>
            </div>
          </div>
          <br class="clear">
        </div><!-- /poststuff -->
      </div>


    <% end %>

    <script type="text/javascript">
      try{document.post.title.focus();}catch(e){}
      </script>

      <div class="clear"></div>
