

<div class="wrap">
  <div class="icon32" id="icon-edit"><br/></div>
  <h2>Zboží na skladě</h2>
  <% if flash[:notice] %>
    <div id="message" class="updated fade">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>



  <% form_tag(admin_users_path,  :method => "get") do %>
    <% # form_tag('/admin/products', :method => "get") do %>




      <input type="hidden" value="list" name="mode"/>


      <div class="tablenav">

        <div class="alignleft actions">
          <%= select_tag "action", options_for_select(%w{ Deaktivovat } => 'deactivate') %>
          <input type="submit" class="button-secondary action" id="doaction" name="doaction" value="Provést"/>

        </div>




        <div class="clear"/>
        </div>

        <div class="clear"/>

          <table cellspacing="0" class="widefat post fixed">
            <thead>
              <tr>
                <th style="" class="manage-column column-cb check-column" id="cb" scope="col"><!-- <input type="checkbox"/>--></th>
                <th style="" class="manage-column column-title" id="title" scope="col">Login</th>
                <th style="" class="manage-column column-date" id="date" scope="col">Datum poslední úpravy</th>
              </tr>
            </thead>


            <tbody>
              <% @users.each do |user| %>
                <tr valign="top" class="alternate author-self status-publish iedit" id="post-8">
                  <th class="check-column" scope="row"><%= check_box_tag 'users[]', user.id %></th>
                  <td class="post-title column-title"><strong><%= user.login %></strong>

                  </td>
                  <td class="date column-date"><%= user.updated_at %></td>     </tr>
              <% end %>
            </tbody>
          </table>



        <% end %>


        <div id="ajax-response"/>

          <br class="clear"/>

        </div>


        <div class="clear"/></div>
